<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thomas.artifact">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaptureMyEvidence" />
        <activity android:name=".ReviewEvidence" />
        <activity android:name=".GetVideo" />
        <activity android:name=".GetAudio" />
        <activity android:name=".GetPicture" />
        <activity android:name=".PickStudent" />
        <activity android:name=".EditStudentName" />
        <activity android:name=".ViewVideo" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity android:name=".AddStudents" />
        <activity
            android:name=".SnapPicture"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewAssignment" />
        <activity android:name=".RecordVideo" />
        <activity android:name=".ReviewVideo" />
        <activity android:name=".AudioSelectStudent" />
        <activity android:name=".ReviewAudio"></activity>
    </application>

</manifest>